<div class="appointment">
	<div class="center">
		<div class="w3-card-4">
			<header class="w3-container w3-teal">
				<h5>AGENDA</h5>
			</header>
			<div class="panel-general-actions">
			</div>
			<div class="w3-container">
				<div class="panel-container-3 step-1">
					<div pickadate ng-model="vm.date"></div>
				</div>
				<div class="panel-container-3 step-2">
					<a href="#" class="back">Voltar</a>
					<div class="filter">
						<div class="field">
							<input class="w3-input" type="text" placeholder="Pesquisar por. Ex.: Audiência Pública">
						</div>
					</div>
					<ul class="w3-ul w3-card-4 panel-list list">
						<li class="w3-padding-16 panel-list-item" ng-class="{'w3-hover-teal w3-teal': vm.isSelected(evento.id), 'w3-hover-light-grey': !vm.isSelected(evento.id)}"
							ng-repeat="evento in vm.agenda" ng-click="vm.getDetail(evento.id, evento.orgao_id, evento.dataInicio)">
							<div class="w3-cell-row">
								<p class="w3-cell w3-cell-middle w3-rightbar date-time">{{evento.horaInicio}}</p>
								<div class="w3-cell w3-cell-middle w3-center">
									<div class="title w3-small">{{evento.titulo}}</div>
									<div><strong>{{evento.orgao_sigla}}</strong></div>
									<div class="w3-tag w3-teal w3-tiny">{{evento.descricaoTipo}}</div>
									<div>{{evento.localCamara_nome}}</div>
									<div class="w3-tag w3-red w3-tiny">{{::evento.descricaoSituacao}}</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-container-3 panel-view step-3">
					<a href="#" class="back">Voltar</a>
					<div class="w3-container w3-center detail">
						<div ng-if="view.ultimoStatus_nome===undefined">
							<div class="inact">
								<div class="img">
									<img src="img/img_avatar2.png" alt="Avatar">
								</div>
								<div class="text">
									<p>Selecione<br><span>Um parlamentar</span></p>
								</div>
							</div>
						</div>
						<div ng-if="view.ultimoStatus_nome">
							<div class="text">
								<p>{{vm.view.ultimoStatus_nome}}
								<span>{{vm.view.ultimoStatus_partido_sig}}/{{vm.view.ultimoStatus_uf_sig}}</span></p>
								<div class="w3-section box-buttons">
									<button class="w3-button button type-1">Accept</button>
									<button class="w3-button button type-2">Decline</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
//como eu estava tendo dificuldades de fazer a captura do click num arquivo externo, coloquei o código inline.
$('.appointment .back').click(function(){
	$(this).parent().css('left', '100%').removeClass('act');
	return false;
});
</script>