<div class="appointment">
	<div class="center">
		<div>
			<div class="panel-container-3 step-1">
				<div pickadate ng-model="vm.date"></div>
			</div>
			<div class="panel-container-3 step-2" ng-class="{act: vm.date}">
				<a href="#" class="back" ng-click="vm.date = ''">Voltar</a>
				<div class="filter">
					<div class="field-dropdown-mobile">
						<div id="filter-dropdown" class="dropdown shadow">
							<button ng-click="vm.actFilter(undefinded)" ng-class="{act:vm.customFilter.$ == undefined}">Todos</button>
							<button ng-click="vm.actFilter('Plenário da Câmara dos Deputados')" ng-class="{act:vm.customFilter.$ == 'Plenário da Câmara dos Deputados'}">Plenário</button>
							<button ng-click="vm.actFilter('Comissão de')" ng-class="{act:vm.customFilter.$ == 'Comissão de'}">Comissões</button>
							<button ng-click="vm.actFilter('mesa red')" ng-class="{act:vm.customFilter.$ == 'mesa red'}">Outros</button>
						</div>
						<button class="toggle-dropdown filter" type="button" onclick="toggleDropdown(this)">&#9660;</button>
					</div>
					<div class="field">
						<input class="w3-input" type="text" placeholder="Pesquisar por ex.: Audiência Pública" ng-model="vm.agendaFilter.$">
					</div>
				</div>
				<ul class="panel-list list" id="container-list">
					<div ng-if="vm.loadingList">
						<span class="loading">{{vm.loadingListMessage}}</span>
						<div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
					</div>
					<div ng-if="!vm.loadingList">
						<div ng-if="vm.agenda[0]">
							<li class="panel-list-item" ng-class="{'item-selected': vm.isSelected(evento.id)}" ng-repeat="evento in vm.agenda | filter:vm.customFilter | filter:vm.agendaFilter"
							 ng-click="vm.getDetail(evento.id)" id="anchor-{{$index}}">
								<div>
									<p class="date-time">{{evento.horaInicio}}</p>
									<div class="title">{{evento.orgaos[0].nome}}</div>
									<div><strong>{{evento.orgao_sigla}}</strong></div>
									<div class="">{{evento.descricaoTipo}}</div>
									<div>{{evento.localCamara_nome}}</div>
									<div class="">{{::evento.descricaoSituacao}}</div>
								</div>
							</li>
						</div>
						<div ng-if="!vm.agenda[0]">
							<span class="no-event">Não há eventos para este dia.</span>
						</div>
					</div>
				</ul>
			</div>
			<div class="panel-container-3 panel-view step-3" ng-class="{act: vm.viewId}">
				<a href="#" class="back" ng-click="vm.viewId = null">Voltar</a>
				<div class="detail">
					<div ng-if="vm.loadingView">
						<span class="loading">{{vm.loadingViewMessage}}</span>
						<div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
					</div>
					<div ng-if="!vm.loadingView">
						<div ng-if="vm.detail.titulo===undefined">
							<div class="inact">
								<div class="img">
									<img src="img/layout/calendar.svg" alt="Avatar">
								</div>
								<div class="text">
									<p>Selecione um<br><span>Evento</span></p>
								</div>
							</div>
						</div>
						<div ng-if="vm.detail.titulo">
							<div class="text">
								<p>{{vm.detail.titulo}}</p>
								<p>{{vm.detail.descricaoSituacao}}</p>
								<p>Formatar - Ver colocar pauta aqui, pois essas informações já constam da lista...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>