.show{display: block;}

.hidden{display: none;}

.panel-wrapper{    display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}

.panel-wrapper .col.size1 {
    -webkit-box-flex: 2;
    -ms-flex: 2 2 308px;
    flex: 2 2 308px;
    
}
.panel-wrapper .col {
    margin: 1rem;
    background: #fff
}

.panel-content{
    font-size: 1rem;
}
.pickadate-prev{
    position: absolute;
    left:0;
}
<<<<<<< HEAD

.pickadate-controls a{
    padding: 0 0.5em;
    font-size: 0.9em;
    border-style: solid;
    border-width: 1px;
}
   

=======
.panel-list{
    height: 270px;
    overflow: auto;
>>>>>>> Html

@media screen and (min-width: 768px){
    .panel-wrapper{
        background: #fff;
        margin: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    };
    .panel-wrapper .col.size1 {
        -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 2;
        -ms-flex: 2 2 308px;
        flex: 2 2 308px;
    }
    .panel-wrapper .col {
        margin: 0
    }
    .panel-container-3{border: 2px solid lightgray;height: 330px;width: 32%;float: left;margin: 2px;}
    
}

<<<<<<< HEAD
.panel-container{border: 2px solid lightgray;height: 330px;width: 47%;float: left;margin: 2px;}



.panel-list{height: 270px;overflow: auto;}

.panel-view{overflow: auto;}

.panel-list-item{cursor: pointer;}

=======
.panel-list-item{
    cursor: pointer;
}
>>>>>>> Html
