.show{
    display: block;
}

.hidden{
    display: none;
}

#meuEspacoCamara{
    width:300px;
    right:0;
    display:none;
    position:fixed;
    top: 0;
}

.panel-container{
    border: 2px solid lightgray;
    height: 330px;
    width: 47%;
    float: left;
    margin: 2px;
}

.panel-container-3{
    border: 2px solid lightgray;
    height: 330px;
    width: 32%;
    float: left;
    margin: 2px;
}

.panel-list{
    height: 270px;
    overflow: auto;

}

.panel-view{
    overflow: auto;
}

.panel-list-item{
    cursor: pointer;
}