<div class="appointment">
    <script>
        $('#proposicoes-list').bind('mousewheel DOMMouseScroll', blockScroll);
    </script>
    <div class="center">
        <div>
            <div class="panel-container-3 step-2 list act">
                <div class="filter"><!-- box-search -->
                    <div class="field-dropdown-mobile">
                            <div id="agenda-dropdown" class="dropdown shadow">
                                <button ng-click="vm.actFilter(undefinded)" ng-class="{act:vm.customFilter.$ == undefined}">Todos</button>
                                <button ng-click="vm.actFilter('Plenário da Câmara dos Deputados')" ng-class="{act:vm.customFilter.$ == 'Plenário da Câmara dos Deputados'}">Salvos</button>
                                
                            </div>
                            <button class="toggle-dropdown filter" type="button" onclick="toggleDropdown(this)">&#9660;</button>
                        </div>
                    <div class="field">
                            <!-- <div class="field-dropdown search" select-filter="deputadosList" name="tipo-proposicao" placeholder="Tipo..." ng-model="vm.tipo"></div> -->
                        <input type="search" ng-model="inputSearch" placeholder="Ex. PL 7909/2010">
                        
                            <!-- <div class="row-input"><input type="text" placeholder="Número" ng-model="vm.numero">
                            <input type="text" placeholder="Ano" ng-model="vm.ano"> </div> -->
                            
                       

                    </div>
                </div>
                <ul class="panel-list list" id="proposicoes-list">
                    <div ng-if="vm.loadingList">
                        <span class="loading">{{vm.loadingListMessage}}</span>
                        <div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
                    </div>
                    <div ng-if="!vm.loadingList">
                        <div ng-if="vm.proposicoes[0] && !vm.proposicoes[0].error">
                            <li class="panel-list-item" ng-class="{'item-selected': vm.isSelected(proposicao.id)}" ng-repeat="proposicao in vm.proposicoes"
                                ng-click="vm.getDetail(proposicao.id)">
                                <a href="">
                                    <div class="panel-list">
                                        <div class="title">{{proposicao.tipo_sigla + '-' + proposicao.numero + '/' + proposicao.ano}}</div>
                                        <span>{{proposicao.ementa}}</span>
                                    </div>
                                </a>
                            </li>
                        </div>
                        <div ng-if="!vm.proposicoes[0]">
                            <span class="no-event">Não há ocorrências para esta busca.</span>
                        </div>
                        <div ng-if="vm.proposicoes[0] && vm.proposicoes[0].error ">
                            <span class="no-event">{{vm.proposicoes[0].error}}</span>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="panel-container-3 panel-view step-3" ng-class="{act: vm.viewId}">
                <a href="#" class="back" ng-click="vm.viewId = null">Voltar</a>
                <div class="detail">
                    <div ng-if="vm.loadingView">
                        <span class="loading">{{vm.loadingViewMessage}}</span>
                        <div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
                    </div>
                    <div ng-if="!vm.loadingView">
                        <div ng-if="vm.view.tipo_sigla===undefined">
                            <div class="inact">
                                <div class="img">
                                    <img src="img/img_avatar2.png" alt="Avatar">
                                </div>
                                <div class="text">
                                    <p>Selecione uma<br><span>Proposicao</span></p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.view.tipo_sigla">
                            <script>
                                $('#proposicoes-view').bind('mousewheel DOMMouseScroll', blockScroll);
                            </script>
                            <div class="text">
                                <div class="list" id="proposicoes-view">
                                    <div class="title">{{vm.view.tipo_sigla + ' - ' + vm.view.tipo_descricao + ' ' + vm.view.numero + '/' + vm.view.ano}}</div>
                                    <div class="item">{{vm.view.ementa}}</div>
                                    <dl class="tabela">
                                        <dt>Orgão</dt>
                                        <dd>{{vm.view.status_orgao_sigla}}</dd>
                                        <dt>Situação</dt>
                                        <dd>{{vm.view.status_descricaoSituacao}}</dd>
                                        <dt>Regime de Tramitação</dt>
                                        <dd>{{vm.view.status_regime}}</dd>
                                        <dt>Despacho</dt>
                                        <dd>{{vm.view.status_despacho}}</dd>
                                        <dt>Descrição Tramitação</dt>
                                        <dd>Anexo {{vm.view.status_descricaoTramitacao}}</dd>
                                        <dt>Palavras Chave</dt>
                                        <dd>{{vm.view.palavrasChave}}</dd>
                                       
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.view[0] && vm.view[0].error">
                            <span class="no-event">{{vm.view[0].error}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
                                imgColorChange();

</script>