<div class="appointment">
        <script>
            $('#audiencias_interativas').bind('mousewheel DOMMouseScroll', blockScroll);
            
        </script>
        <div class="center">
            <div>
                <div class="panel-container-3 step-2 list act">
                    <div class="filter">
                        <div>
                            <select name="option" ng-model="vm.uf" ng-change="vm.changeUf(vm.uf)">
                                <option ng-repeat="uf in vm.ufsList" ng-model-options="uf.sigla">{{uf.sigla}}</option>
                            </select>
                        </div>
                        <div class="field">
                            <input class="w3-input" type="text" placeholder="Filtrar..." ng-model="vm.deputadosFilter">
                        </div>
                    </div>
                    <ul class="panel-list list" id="audiencias_interativas">
                        <div ng-if="vm.loadingList">
                            <span class="loading">{{vm.loadingListMessage}}</span>
                            <div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
                        </div>
                        <div ng-if="!vm.loadingList">
                            <div ng-if="vm.deputados[0]">
                                <li class="panel-list-item" ng-class="{'item-selected': vm.isSelected(deputado.id)}" ng-repeat="deputado in vm.deputados | filter:vm.deputadosFilter"
                                    ng-click="vm.getDetail(deputado.id)" id="anchor-{{$index}}">
                                    <div>
                                        <img ng-src="{{deputado.foto}}" class="img-round">
                                        <div class="title">{{deputado.nome}}</div>
                                        <span>{{deputado.partido_sig}}/{{deputado.uf_sig}}</span>
                                    </div>
                                </li>
                            </div>
                            <div ng-if="!vm.deputados[0]">
                                <span class="no-event">Não há ocorrências para esta busca.</span>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>