<button ng-click="vm.close()" class="close invert-contrast">x</button>
<div class="title">#MeuEspaçoCâmara</div>
<div class="content">
    <div ng-switch="vm.selectedTab">
        <div ng-switch-when="desconhecido" class="tabs">
            <div class="text">
                <p>Este é um espaço para configuração personalizada, que permite a você guardar qualquer página deste Portal,
                    bem como adicionar painéis personalizados à página inicial para acesso rápido às informações de seu interesse.</p>
                <p>As informações que você guardar neste espaço ficarão armazenadas no seu computador e não serão enviadas à
                    Câmara dos Deputados. Você pode, se desejar, compartilhá-las com outras pessoas para que tenham um ambiente
                    personalizado como o seu ou também possam personalizar o seu ambiente de acordo com o configurado por
                    outros.</p>
            </div>
            <ul class="rows">
                <li><a href="#" class="ok invert-contrast" ng-click="vm.gotIt()">Quero Conhecer</a></li>
                <li><a href="#" class="invert-contrast" ng-click="vm.disableIt()">Agora não!</a></li>
            </ul>

        </div>
        <div ng-switch-when="desabilitado" class="tabs">
            <div class="text">
                <p>#MeuEspaçoCâmara está desligado.</p>
            </div>
            <ul class="rows">
                <li><a href="#" class="ok" ng-click="vm.enableIt()">Quero Ligá-lo</a></li>
                <li><a href="#" ng-click="vm.close()">Agora não, obrigado(a)!</a></li>
            </ul>
        </div>
        <ul class="actions" id="mescam-actions" style="display:none">
            <li><a href="" class="invert-contrast" ng-click="vm.selectTab('favoritos')" ng-class="{act:vm.isActive('favoritos')}">Favoritos</a></li>
            <li><a href="" class="invert-contrast" ng-click="vm.selectTab('paineis')" ng-class="{act:vm.isActive('paineis')}">Painéis</a></li>
            <li><a href="" class="invert-contrast" ng-click="vm.selectTab('preferencias')" ng-class="{act:vm.isActive('preferencias')}">Preferências</a></li>
        </ul>
        <div ng-switch-when="favoritos" class="tabs">
            <div class="mescam-title">Ordenar por:</div>
            <div class="mescam-content">
                <ul class="filters">
                    <li><a href="" ng-click="vm.orderFavorites('title')" ng-class="{act:vm.order == 'title'}">Título</a></li>
                    <li><a href="" ng-click="vm.orderFavorites('date')" ng-class="{act:vm.order == 'date'}">Data</a></li>
                    <li><a href="" ng-click="vm.orderFavorites('category')" ng-class="{act:vm.order == 'category'}">Categoria</a></li>
                </ul>
                <div class="form">
                    <input type="text" placeholder="Encontrar um Favorito" id="favinput" ng-model="favinput.$">
                </div>
                <div class="list">
                    <ul>
                        <li ng-if="!vm.favorites[0]"><strong>Nada foi salvo ainda. Navegue pelas páginas e grave aqui o que for do seu interesse</strong></li>
                        <li ng-repeat="fav in vm.favorites | orderBy:vm.order | filter:favinput">
                            <div class="left" title="Alterar">
                                <button class="edit" ng-click="vm.toggleEdit(fav.url, fav.title)">Editar</button>
                            </div>
                            <div class="center">
                                <a ng-href="{{!vm.editable(fav.url) ? fav.url : ''}}">
                                    <div class="text">
                                        <strong ng-if="!vm.editable(fav.url)">{{fav.title}}</strong>
                                        <span ng-if="vm.editable(fav.url)"><input type="text" ng-model="fav.title" style="width:100%"></span>
                                    </div>
                                    <div class="date-time">{{fav.category}} - Salvo em {{fav.date.date}}, {{fav.date.time}}</div>
                                </a>
                            </div>
                            <dialog class="delete" title="Remover" type="2,2" message="Gostaria de apagar [{{fav.title}}]?" on-ok="vm.removeFavorite(fav.url)"></dialog>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-switch-when="paineis" class="tabs">
            <div class="mescam-content">
                <div ng-repeat="section in vm.panels">
                    <div class="section" ng-if="!section.invisible">
                        <span class="text"><strong>{{section.label}}</strong></span>
                        <ul class="panels">
                            <li ng-repeat="panel in section.panels">
                                <div class="margin">
                                    <span class="subtext">{{panel.activated ? "[" : ""}}{{panel.label}}{{panel.activated ? "]" : ""}}</span>                                    <button class="togglePanel" ng-click="vm.togglePanel(panel, $parent.section)" ng-class="{act:panel.activated}">{{panel.activated ? "Ligado" : "Desligado"}}</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="preferencias" class="tabs">
            <div class="mescam-content">
                <div class="margin">
                    <div class="subtitle">Macrotemas de Interesse</div>
                    <div class="box-title">
							<h2 class="title macrotheme">Segurança</h2>
							<div class="options">
								<button class="toggle-category" title="Alterar Assunto">Alterar Assunto</button>
								<div class="box-list shadow">
									<p class="title-list">Alterar Assunto</p>
									<ul class="news-list">
										<li><a href="macrotema.html">Administração Pública</a></li>
										<li><a href="macrotema.html">Agropecuária</a></li>
										<li><a href="macrotema.html">Assistência Social</a></li>
										<li><a href="macrotema.html">Cidades</a></li>
										<li><a href="macrotema.html">Ciência e Tecnologia</a></li>
										<li><a href="macrotema.html">Comunicação</a></li>
										<li><a href="macrotema.html">Consumidor</a></li>
										<li><a href="macrotema.html">Direito e Justiça</a></li>
										<li><a href="macrotema.html">Direitos Humanos</a></li>
										<li><a href="macrotema.html">Economia</a></li>
										<li><a href="macrotema.html">Educação e Cultura</a></li>
										<li><a href="macrotema.html">Esportes</a></li>
										<li><a href="macrotema.html">Indústria e Comércio</a></li>
										<li><a href="macrotema.html">Institucional</a></li>
										<li><a href="macrotema.html">Meio Ambiente</a></li>
										<li><a href="macrotema.html">Política</a></li>
										<li><a href="macrotema.html">Relações Exteriores</a></li>
										<li><a href="macrotema.html">Saúde</a></li>
										<li><a href="macrotema.html">Segurança</a></li>
										<li><a href="macrotema.html">Trabalho e Previdência</a></li>
										<li><a href="macrotema.html">Transporte e Trânsito</a></li>
										<li><a href="macrotema.html">Turismo</a></li>
									</ul>
								</div>
							</div>
                </div>
                <div class="margin">
                    <a href="#" title="Fale Conosco"><span class="icon"><img class="img-color-change color3" src="img/layout/ico_fale_conosco.svg" alt="Fale Conosco"></span><span class="text">Fale Conosco</span></a>
                    <br><span class="subtext">Espaço em que a Câmara dos Deputados disponibiliza diversas opções de contato, incluindo pedido de informações, dúvidas, reclamações, denúncias, etc. Para acessar, é necessário entrar com suas credenciais de acesso. Caso não tenha, cadastre-se. É rápido e simples.</span>
                </div>
                <div class="margin">
                    <a href="#" title="E-Democracia"><span class="icon"><img class="img-color-change color3" src="img/layout/edem-logo.svg" alt="E-Democracia"></span><span class="text">E-Democracia</span></a>
                    <br><span class="subtext">O portal e-Democracia é uma iniciativa da Câmara dos Deputados que visa ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.</span>
                </div>
                <div class="margin">
                    <p><strong><a href="" ng-click="vm.exportMescam()">Exportar</a> </strong> - <a href="" ng-click="vm.importMescam()">Importar</a></p>
                    <p><textarea ng-model="vm.textMescam" rows="5" cols="30"></textarea></p>
                </div>
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="#"><img src="img/layout/icon_twitter.png" alt="Twitter" class="shadow"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/layout/icon_facebook.png" alt="Facebook" class="shadow"></a>
                        </li>
                    </ul>
                </div>

                <ul class="rows">
                    <li><a href="" class="ok invert-contrast" ng-click="vm.disableIt()">Desabilitar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    imgColorChange();

</script>

