<button ng-click="vm.close()" class="close invert-contrast">x</button>
<div class="title">#MeuEspaçoCâmara</div>
<div class="content">
    <div ng-switch="vm.selectedTab">
        <div ng-switch-when="desconhecido" class="tabs">
            <div class="text">
                <p>Este é um espaço para configuraçao personalizada que permite a você guardar qualquer página do site que desejar
                    acessar rapidamente em outro momento, bem como adicionar painéis personalizados à página inicial para
                    acesso rápido de informações do seu interesse.</p>
                <p>As informações que você guardar neste espaço ficam armazenadas no seu computador e elas não serão enviadas
                    à Câmara dos Deputados. Você pode, se desejar, compartilhar essas informações com outras pessoas para
                    que elas tenham um ambiente personalizado como o seu e também personalizar o seu ambiente de acordo com
                    o configurado por outras pessoas.</p>
            </div>
            <ul class="rows">
                <li><a href="#" class="ok invert-contrast" ng-click="vm.gotIt()">Quero Conhecer</a></li>
                <li><a href="#" class="invert-contrast" ng-click="vm.disableIt()">Agora não!</a></li>
            </ul>

        </div>
        <div ng-switch-when="desabilitado" class="tabs">
            <div class="text">
                <p>#MeuEspaçoCâmara está desligado.</p>

            </div>
            <ul class="rows">
                <li><a href="#" class="ok" ng-click="vm.enableIt()">Quero Ligá-lo</a></li>
                <li><a href="#" ng-click="vm.close()">Agora não, obrigado(a)!</a></li>
            </ul>
        </div>
        <ul class="actions" id="mescam-actions" style="display:none">
            <li><a href="#" class="invert-contrast" ng-click="vm.selectTab('favoritos')" ng-class="{act:vm.isActive('favoritos')}">Favoritos</a></li>
            <li><a href="#" class="invert-contrast" ng-click="vm.selectTab('paineis')" ng-class="{act:vm.isActive('paineis')}">Painéis</a></li>
            <li><a href="#" class="invert-contrast" ng-click="vm.selectTab('preferencias')" ng-class="{act:vm.isActive('preferencias')}">Preferências</a></li>
        </ul>
        <div ng-switch-when="favoritos" class="tabs">
            <div class="mescam-title">Ordenar por:</div>
            <div class="mescam-content">
                <ul class="filters">
                    <li><a href="#" ng-click="vm.orderFavorites = 'title'">Título</a></li>
                    <li><a href="#" ng-click="vm.orderFavorites = '-date'">Data</a></li>
                    <li><a href="#" ng-click="vm.orderFavorites = 'category'">Categoria</a></li>
                </ul>
                <div class="form">
                    <input type="text" placeholder="Encontrar um Favorito" id="favinput" ng-model="favinput.$">
                </div>
                <div class="list">
                    <ul>
                        <li ng-if="!vm.favorites[0]"><strong>Nada foi salvo. Navegue pelas páginas e grave aqui o que for do seu interesse</strong></li>
                        <li ng-repeat="fav in vm.favorites | orderBy:vm.orderFavorites | filter:favinput">
                            <div class="center">
                                <a href="{{fav.url}}">
                                    <div class="text"><strong>{{fav.title}}</strong></div>
                                    <div class="date-time">{{fav.category}} - Salvo em {{fav.date.date}}, {{fav.date.time}}</div>
                                </a>
                            </div>
                            <div class="right"><button class="delete" ng-click="vm.removeFavorite(fav.url, $index)">x</button></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-switch-when="paineis" class="tabs">
            <div class="mescam-content">
                <div ng-repeat="section in vm.panels">
                    <div class="section" ng-if="!section.invisible">
                        <span class="text"><strong>{{section.label}}</strong></span>
                        <ul class="panels">
                            <li ng-repeat="panel in section.panels">
                                <div class="margin">
                                    <span class="subtext">{{panel.activated ? "[" : ""}}{{panel.label}}{{panel.activated ? "]" : ""}}</span>                                    <button ng-click="vm.togglePanel(panel, $parent.section)" ng-class="{act:panel.activated}">{{panel.activated ? "Ligado" : "Desligado"}}</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="preferencias" class="tabs">
            <div class="mescam-content">
                <div class="margin">
                    <a href="#" title="Fale Conosco"><span class="icon"><img class="img-color-change color3" src="img/layout/ico_fale_conosco.svg" alt="Fale Conosco"></span><span class="text">Fale Conosco</span></a>
                    <br><span class="subtext">Espaço que a Câmara dos Deputados disponibiliza a você diversas opções de contato, incluíndo pedido de informações, dúvidas, reclamações, denúncias, etc. Para acessar, é necessário entrar com suas credenciais de cadastro. Caso não tenha, cadastre-se, é rápido e simples.</span>
                </div>
                <div class="margin">
                    <a href="#" title="E-Democracia"><span class="icon"><img class="img-color-change color3" src="img/layout/edem-logo.svg" alt="E-Democracia"></span><span class="text">E-Democracia</span></a>
                    <br><span class="subtext">O portal e-Democracia é uma iniciativa da Câmara dos Deputados que visa ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.</span>
                </div>
                <div class="margin">
                    <p><strong><a href="" ng-click="vm.exportMescam()">Exportar</a> </strong> - <a href="" ng-click="vm.importMescam()">Importar</a></p>
                    <p><textarea ng-model="vm.textMescam" rows="5" cols="30"></textarea></p>
                </div>
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="#"><img src="img/layout/icon_twitter.png" alt="Twitter" class="shadow"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/layout/icon_facebook.png" alt="Facebook" class="shadow"></a>
                        </li>
                    </ul>
                </div>

                <ul class="rows">
                    <li><a href="" class="ok invert-contrast" ng-click="vm.disableIt()">Desabilitar</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    imgColorChange();
</script>