<div class="appointment">
    <div class="center">
        <div class="centered">
            <div class="panel-container-3 step-2 list act">
                <div class="filter">
                    <div class="field-dropdown-mobile">
                        <div id="transmissoes-dropdown" class="dropdown shadow">
                            <button ng-click="vm.actFilter(undefinded)" ng-class="{act:vm.customFilter.$ == undefined}">Todos</button>
                            <button ng-click="vm.actFilter('Plenário da Câmara dos Deputados')" ng-class="{act:vm.customFilter.$ == 'Plenário da Câmara dos Deputados'}">Plenário</button>
                            <button ng-click="vm.actFilter('Comissão de')" ng-class="{act:vm.customFilter.$ == 'Comissão de'}">Comissões</button>
                        </div>
                        <button class="toggle-dropdown filter" type="button" onclick="toggleDropdown(this)">&#9660;</button>
                    </div>

                </div>
                <ul class="panel-list list" id="container-list">
                    <div ng-if="vm.loadingList">
                        <span class="loading">{{vm.loadingListMessage}}</span>
                        <div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
                    </div>
                    <div ng-if="!vm.loadingList">
                        <div ng-if="vm.transmissoes[0]">
                            <li class="panel-list-item" ng-class="{'item-selected': vm.isSelected(transmissao.url)}" ng-repeat="transmissao in vm.transmissoes"
                                ng-click="vm.getMedia(transmissao.url)">
                                <div>
                                    <div class="date-time">{{transmissao.data}} - {{transmissao.horario}}</div>
                                    <div class="title">{{transmissao.title}}</div>
                                    <div class="text">{{transmissao.descricao}}</div>
                                    <div class="text">{{transmissao.situacao}}</div>
                                </div>
                                <div class="links">
									<a href="#" class="video" title="Assistir à transmissão"><span class="icon"><img src="img/layout/play2.svg" alt="Transmissões" class="img-color-change color3"></span>Vídeo</a>
									<a href="#" class="audio" title="Ouça a transmissão"><span class="icon"><img src="img/layout/volume-medium.svg" alt="Transmissões" class="img-color-change color3"></span>Áudio</a>
									<a href="#" class="participate" title="Participe"><span class="icon"><img src="img/layout/edem-logo.svg" alt="Transmissões" class="img-color-change color3"></span>Participe</a>
								</div>
                            </li>
                        </div>
                        <div ng-if="!vm.transmissoes[0]">
                            <span class="no-event">Não há ocorrências para esta busca.</span>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="panel-container-3 panel-view size-2 step-3" ng-class="{act: vm.mediaId}">
                <a href="#" class="back" ng-click="vm.mediaId = null">Voltar</a>
                <div class="detail">
                    <div ng-if="vm.loadingMedia">
                        <span class="loading">{{vm.loadingViewMessage}}</span>
                        <div ng-if="vm.reloadButton"><a href="" onClick="location.reload()">Recarregue a Página</a></div>
                    </div>
                    <div ng-if="!vm.loadingMedia">
                        <div ng-if="!vm.media">
                            <div class="inact">
                                <div class="img">
                                    <img src="img/layout/player.png" alt="Mídia" class="img-color-change color2">
                                </div>
                                <div class="text">
                                    <p>Selecione um<br><span>Vídeo</span></p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.media" class="videowrapper">
                            <iframe width="651" height="366" src="{{vm.media}}" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
imgColorChange();
</script>